<div class="login-wrapper" xmlns="http://www.w3.org/1999/html">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div>
        <nav class="navbar-brand">Recipe Manager</nav>
      </div>
      <ul class="navbar-nav">
        <li><a *ngIf="true" routerLink="/home" class="nav-link">Home</a></li>
        <li><a *ngIf="true"  class="nav-link">Search</a></li>
        <li><a *ngIf="true"  class="nav-link">My Favorites</a></li>
        <li><a *ngIf="true"  class="nav-link">Add</a></li>
        <li><a *ngIf="true" class="nav-link">Delete</a></li>
        <li><a *ngIf="true" routerLink="/logout" class="nav-link">Logout</a></li>
      </ul>
    </nav>
  </header>
</div>
