<div class="login-wrapper" xmlns="http://www.w3.org/1999/html">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div>
        <nav class="navbar-brand">Recipe Manager</nav>
      </div>
      <ul class="navbar-nav">
        <li><a *ngIf="true" routerLink="/recipes" class="nav-link">Recipes</a></li>
        <li><a *ngIf="true" routerLink="/profile" class="nav-link">My Profile</a></li>
        <li><a *ngIf="true" routerLink="/login" class="nav-link">Login</a></li>
        <li><a *ngIf="false" routerLink="/logout" class="nav-link">Logout</a></li>
        <input type="text" placeholder="Search..">
      </ul>
    </nav>
  </header>
</div>
